<!DOCTYPE html>

<html>

<head>
	<title>Blog</title>
	<link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/static/main.css" />
</head>

<body> 
	<ul class="top_menu">
		<li><a href="/newpost">New post</a></li>
		{% if user %}<li><a href="/logout">Log out</a></li>{% endif %}
		{% if not user %}<li><a href="/signup">Sign up</a></li>{% endif %}
		{% if not user %}<li><a href="/login">Log in</a></li>{% endif %}
	</ul>

	<br><br>
	<div class="top" style="text-align: center">
		<h1 style="font-size: 2.5em">Welcome to the Blog.</h1>
	<br>	

	</div>
	<br> <br>
	<div class="posts">

		{% for p in posts %}
			{{ p.render() | safe }}
			<br><br><br>
		{% endfor %}

	</div>

</body>

</html>