
<head>
	<title>New Post</title>
</head>

{% extends "base.html" %}

{% block content %}

	<h1>New post</h1>
  <h3 style="text-align:center"> Writing as {{ user.name }} </h3>
  <div class="new-post">
		<form method="post">
      <input type="hidden" name="creator" value= "{{user.name}}">
      <label>
        <h2>Subject</h2>
        <input type="text" name="subject" value="{{subject}}">
      </label>
      <br> <br>
      <label>
        <h2>Body</h2>
        <textarea name="content">{{content}}</textarea>
      </label>

      <br>

      <div class="error">{{error}}</div>

      <br>

      <input type="submit">
    </form>
  </div>

{% endblock %}

