{% extends "base.html" %}

{% block title %}
  {{post.subject}}
{% endblock %}

<br> <br>

{% block content %}
	{% if user.name == post.creator %} 
		<h3><a href="/editpost?post={{post.key().id()}}">Edit</a> | <a href="/delete?post={{post.key().id()}}"> Delete</a></h3>
	{%  endif %}

  <br><br>
	 {{post.render() | safe}}
	<br><br>

  <div class="likes">
    {% if user.name in post.liked_by %}<h4>You already like this post.</h4>{% endif %}
    {% if not user %}<h4>You must be a user to like posts.</h4>{% endif %}
    {% if user.name == post.creator %}<h4>Users cannot like their own posts.</h4>{% endif %}
  </div>
  <h3>
  {% if user.name != post.creator %}
    {% if user %}<a href="/{{post.key().id()}}/like">Like</a> | {% endif %}
  {% endif %}
  {% if user %}<a href="/newcomment?post={{post.key().id()}}">Add Comment</a></h3>{% endif %}
  <br><br>
  <h2>Comments:</h2>
  <br><br>
  {% for c in post.comments %}
  <div class="comment">
  	<div class="comment-creator">{{c.creator}}:</div>
    <div class="comment-date">{{c.created.strftime("%b %d, %Y")}}

    <!--allows the comment's creator to edit or delete their comments-->
      {% if c.creator == user.name %}
        <h4><a href="/editcomment?comment={{c.key().id()}}">Edit</a> | <a href="/deletecomment?comment={{c.key().id()}}"> Delete</a></h4>
      {% endif %}
    </div>
    <br>
  	<div class="comment-body">{{c.content}}</div>
    <br><br>
  </div>
  {% endfor %}

{% endblock %}
